html {
  max-height: 300px;
  min-width: 300px;
}

body {
}

label {
  font-weight: bold;
  text-align: left;
}

div {
  padding-top: 1em;
}

button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
}

button.go-button {
  position: absolute;
  padding: 3px 10px;
  margin-left: 5px;
}

div.buttons {
  text-align: right;
}

input.main-textbox {
  min-width: 230px;
}
